
.numberbutton{
    border-radius: .5em;
    border-width: .15em;
    border-style: solid;
    font-size: large;
    font-weight: bold;
    width: 100%;
    height: 50px;
    aspect-ratio : 1 / 1;
    max-height: 150px;
    background-color: antiquewhite;
}