<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayoutAlign="center center">
    <p style="font-size: xx-large; font-weight: bold;">{{'password.title' | translate}}</p>
  </div>
  <div fxLayoutAlign="center center">
    <p *ngIf="wrongpwd === true" style="font-size: medium; font-weight: bold; color: red;">{{'password.wrong' | translate}}</p>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <div style="padding-right: 10px;" fxLayout="row" fxLayoutGap="10px">
      <p flex="100" class="roundedarea">{{password}}</p>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row">
        <div style="padding-right: 10px;" *ngFor="let num of ['1','2','3','4','5']">
          <button mat-raised-button class="numberbutton" (click)="onKeyPressed(num)">{{num}}</button>
        </div>
      </div>
      <div fxLayout="row">
        <div style="padding-right: 10px;" *ngFor="let num of ['6','7','8','9','0']">
          <button mat-raised-button class="numberbutton" (click)="onKeyPressed(num)">{{num}}</button>
        </div>
      </div>
      <div fxLayout="row">
        <div style="padding-right: 10px;">
            <button mat-raised-button class="numberbutton" style="background: yellow;" (click)="onBackPressed()">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
          <div fxFlex="40" style="padding-right: 10px;">
            <button mat-raised-button class="numberbutton" style="background: red;"
              (click)="onCancelPressed()">{{'button.cancel' | translate}}</button>
          </div>
          <div fxFlex="40" style="padding-right: 10px;">
            <button mat-raised-button class="numberbutton" style="background: green;" (click)="onEnterPressed()">{{'button.ok' | translate}}</button>
          </div>          
      </div>
    </div>
  </div>
</div>
